
@import './header';
@import './boilerplate';
@import './hero';
@import './footer';
@import './learn-more';


.container {
    max-width: 1400;
    margin: 0 auto;
    overflow-x: hidden;
}


